<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>serverLogs.log</file>
        <append>false</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="OFF"/>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>
</configuration>